.editProfile_container{
    display: flex;
    flex-direction: column;
}

.editProfile_img{
    width: 40%;
    overflow: hidden;
    align-self: center;
    margin-top: 1rem;
    border-radius: 1rem;
    max-height: 70vh;
}

@media screen and (max-width:850px){
    .editProfile_img{
        width: 60%;
    }
}

@media screen and (max-width:600px){
    .editProfile_img{
        width: 70%;
    }
}


@media screen and (max-width:350px){
    .editProfile_img{
        width: 80%;
    }
}