.home_main_container{
    height:calc(100vh - 6vh - 12vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines you want to display */
    -webkit-box-orient: vertical;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-right:0.5rem;
}
  